 #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color:#282D35;

}
.logo {
  height: 30px;
  padding: 1.5em; 
  will-change: filter;
  transition: filter 300ms;
  margin-right: 7px;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


 nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
}

.navBar--title , .navBar--info{
  margin: 0;
}

.navBar--title{
  margin-right: auto;
  color:#61DAFB;
  font-weight: 700;
  font-size: 20px;
}

.navBar--info{
  color: lightgray;
  font-weight: 500;
  margin-right: 10px;
} 

main{
  padding: 55px 55px;
  
  /*background-repeat: no-repeat;
 background-image: url(./assets/react.svg);
  background-position:left 100%;
  background-size: 150px;*/
}

.Main-Heading{
  margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
  
}
.Main-Bulletpoints > li{
 font-size: 20px;
 line-height: 19px;
    padding-block: 10px;
font-weight:100;
}

.Main-Bulletpoints > li::marker{
  color: #61DAFB;
  font-size: 200%;
}
.Main-Bulletpoints > li:hover{
  color: #61dafbaa;
  font-size: 200%;
  transition: ease-in;
}